Source: moxa-version
Section: utils
Priority: optional
Maintainer: Ken CJ Chou <KenCJ.Chou@moxa.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://www.moxa.com/

Package: moxa-version
Architecture: linux-any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Moxa version utility
 This package provide an utility for getting Moxa device's
 modelname, firmware version, and builddate. It replaces the
 old utility named `kversion`.

